# ==========================
# Vivado build outputs
# ==========================
*.jou
*.log
*.str
*.cache/
*.sim/
*.runs/
*.hw/
*.ip_user_files/
*.Xil/
*.srcs/**/bd/*/hdl/
*.gen/
*.data/

# Vivado IP / auto stuff
*.xml
*.html

# block design generated junk
*.bd
*.dcp

# allow TCL export of BD
!**/block_design/*.tcl

# ==========================
# PetaLinux
# ==========================
build/
images/
pre-built/
tmp/
components/
*.elf
*.bin
*.bit
*.ub
*.mcs

# ==========================
# OS junk
# ==========================
__pycache__/
*.swp
*.swo
*.pyc
*~
